<div class="container-fluid d-flex">
    <div class="row d-flex flex-column flex-grow-1 justify-content-center align-items-center flex-md-row min-vh-100">
        <div class="col-8 col-md-5 p-md-5 p-3">
          <a href="/privacy/tumblwords/">
            <img class="rounded img-fluid" src="/assets/img/tumblwords.png"/>
          </a>
        </div>
        <div class="col-8 col-md-5 p-md-5 p-3">
          <a href="/privacy/cadpage/">
            <img class="rounded img-fluid" src="/assets/img/cadpage.png"/>
          </a>
        </div>
    </div>
</div>