<!-- Begin Jumbotron Container -->
<div class="jumbotron custom-jumbo">
	<div class="container-fluid">
<div class="row">
<div class="col">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5">
			<img src="Images/Icon.png" class="center-block img-responsive">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h1 class="text-center">CADPage For iOS</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-lg-push-1">
			<h3 class="text-center lead hidden-sm" style="">The information you need.</h3>
		</div>
		<div class="col-lg-4">
			<div class="row visible-sm">
				<div class="col-sm-4">
					<h4 class="text-center lead">The information you need.</h4>
				</div>
				<div class="col-sm-4">
					<h4 class="text-center lead">When you need it.</h4>
				</div>
				<div class="col-sm-4">
					<h4 class="text-center lead">Right in your pocket.</h4>
				</div>
			</div>
			<h3 class="text-center lead hidden-sm">When you need it.</h3>
		</div>
		<div class="col-lg-4 col-lg-pull-1">
			<h3 class="text-center lead hidden-sm">All in your pocket.</h3>
		</div>
	</div>
	<img src="Images/Download_on_the_App_Store_Badge_US-UK_135x40.svg" class="img-responsive center-block">
</div>		  
</div>
</div>
	<div class="container-fluid custom-container">
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
	<img class="img-responsive center-block" src="Images/phone_top.png">
  </div>
</div>
</div>
</div>
<!-- End Jumbotron Container -->