		<!-- Begin Detail Container -->
		<div class="container">
	  <!-- Example row of columns -->
	  <div class="row">
		<div class="col-sm-4 col-md-4">
		  <h1 class="text-center">Your pages</h1>
		  <h4 class="text-center">...right on your phone.</h4>
		  <p class="text-center">CADPage For iOS delivers your pages direct to your device via Apple Push Messages.</p>
		  <p></p>
		  <img src="Images/call_list_small.png" class="img-responsive center-block visible-xs" style>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4">
		  <h1 class="text-center">Mapping</h1>
		  <h4 class="text-center">...because its 3am</h4>
		  <p class="text-center">Maps are displayed inline, and can even show you directions.</p>
		  <img src="Images/map_small.png" class="img-responsive center-block visible-xs">
		  <p></p>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4">
		  <h1 class="text-center">Response</h1>
		  <h4 class="text-center">...because every second counts</h4>
		  <p class="text-center">Send your response. See responses from others.</p>
		  <p></p>
		  <img src="Images/response_view_small.png" class="img-responsive center-block visible-xs" style>
		</div>
	  </div>
	  <div class="row hidden-xs">
		<div class="col-sm-4 col-md-4">
		  <img src="Images/call_list_small.png" class="img-responsive center-block visible-sm">
		  <img src="Images/call_list.png" class="img-responsive center-block hidden-sm">
		</div>
		<div class="col-sm-4 col-md-4">
		  <img src="Images/map_small.png" class="img-responsive center-block visible-sm" style>
		  <img src="Images/map.png" class="img-responsive center-block hidden-sm">
		</div>
		<div class="col-sm-4 col-md-4">
		  <img src="Images/response_view_small.png" class="img-responsive center-block visible-sm">
		  <img src="Images/response_view.png" class="img-responsive center-block hidden-sm">
		</div>
	  </div>
	</div>
		<!-- End Detail Container -->
