<!-- Begin Navigation -->
<div class="navbar navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
			</button>
			<a class="{% if page.overview %}current{% endif %} navbar-brand" href="{{site.url}}">{apprhythmia}</a>
		</div>
		<div class="navbar-collapse collapse" style>
			<ul class="nav navbar-nav">
				<li class="{% if page.blog %}current{% endif %}">
					<a href="{{site.url}}/blog/">Blog</a>
				</li>
				<li class="{% if page.faq %}current{% endif %}">
					<a href="{{site.url}}/faq/FAQ.html">FAQ</a>
				</li>
				<li>
<a href="#support">Support</a>
</li>
<!-- Begin Double Dropdown -->
<!--
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">Action</a>
						</li>
						<li>
							<a href="#">Another action</a>
						</li>
						<li>
							<a href="#">Something else here</a>
						</li>
						<li class="divider"></li>
						<li class="dropdown-header">Nav header</li>
						<li>
							<a href="#">Separated link</a>
						</li>
						<li>
							<a href="#">One more separated link</a>
						</li>
					</ul>
				</li>
-->
<!-- End Double Dropdown -->
			</ul>
		</div>
	</div>
</div>
<!-- End Navigation -->
