---
layout: docs
title: Privacy Policy Revisions Listing
---
<!-- This loops through the paginated posts -->
{% for revision in site.privacy_revisions reversed %}
  <li>
    {% if revision.version == 0 %}
      <a class="h3">{{ revision.date }}</a>
      <ul><li><a class="h4" href="{{ revision.url }}">Initial Version</a></li></ul>
    {% elsif revision.current == true %}
      <a class="h3">{{ revision.date }}</a>
      <ul><li><a class="h4" href="{{ revision.url }}">Current Version</a></li></ul>
    {% else %}
      <a class="h3">{{ revision.date }}</a>
      <ul><li><a class="h4" href="{{ revision.url }}">Revision {{ revision.version }}</a></li></ul>
    {% endif %}
  </li>
{% endfor %}
